!!! XML
%rss{:version => '2.0', 'xmlns:atom' => 'http://www.w3.org/2005/Atom'}
  %channel
    %title       Pickard Ayune
    %description Latest news from Pickard Ayune
    %link= root_url
    %atom:link{:rel => 'self', :href => news_url(:rss)}
    -@stories.each do |story|
      %item
        %title
          = story.title
        %description
          =h('' + story_content(story)) # force un-html_safe
        %guid
          == http://pickardayune.com/stories/#{story.id}
        %pubDate
          = story.created_at.to_s(:rfc822)
        %link
          = story_url story
